.invoice-modify {
  border: 1px solid;
  width: 60%;
  padding: 1rem;
  background: white;
}

.invoice-head h1 {
  text-align: center;
}

.invoice-head span {
  float: right;
}

.invoice-details {
  margin-top: 4rem;
}

.invoice-details__expenses div {
  display: flex;
  justify-content: space-between;
}

.invoice-details textarea {
  width: 100%;
  height: 200px;
}

.invoice-details__notes {
  margin-top: 2rem;
  width: 100%;
}

.invoice-details__notes textarea {
  width: 750px;
}
